@import 'reset.scss';
@import 'mixins';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

html {
  border: 2px solid #270297;
}

body {
  font-family: 'Josefin Sans', Arial, sans-serif;
  border: 2px solid #027997;
}


// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
// }


// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }