@import 'reset.scss';
@import 'mixins';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', Arial, sans-serif;
  color: rgb(235, 235, 235);
  min-height: 100vh;
}

// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }