@import 'variables';

.clicked-movie {
  display: flex;
  justify-content: center;
}

.clicked-image {
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 1.5em;
  text-align: left;
  width: 70%;

  .movie-stats {
    background-color: rgba(0, 0, 0, .75);
    border-radius: 10px;
    box-shadow: 0 10px 9px -9px rgba(0, 0, 0, .8);
    min-height: fit-content;
    padding: 1em;
    width: 95%;
    
    h3 {
      font-size: 2.2em;
      margin-bottom: .4em;
    }
  
    p {
      padding: .2em 0;
    }
  }
 }

a {
  height: fit-content;
  margin-right: 1.2em;

  button {
    background-color: transparent;
    color: $text-color;
    font-family: $font;
    font-size: 3.5em;
    transition: transform 100ms ease-in-out;
  
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}