.clicked-movie {
  color: #fff;
  position: relative;
  text-align: center;

  img {
    width: 70%;
  }

 .movie-stats {
   text-align: left;
  //  position: absolute;
  //  top: 295px;
  //  left: 35px;
 }
}