.clicked-movie {
  text-align: center;

  img {
    width: 70%;
  }

 .movie-stats {
  //  width: 70%;
   text-align: left;
   height: 100vh;
   background-size: cover;
 }
}

section {
  border: 1px solid purple;
}