@import 'variables';
@import 'mixins';

.clicked-movie {
  width: 100%;
  display: flex;
  justify-content: center;
}

.clicked-image {
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 1.5em;
  text-align: left;
  width: 70%;

  .movie-stats {
    background-color: rgba(0, 0, 0, .75);
    border-radius: 10px;
    box-shadow: 0 10px 9px -9px rgba(0, 0, 0, .8);
    min-height: fit-content;
    padding: 1em;
    width: 95%;

    h3 {
      font-size: 2.2em;
      margin-bottom: .4em;
    }

    p {
      padding: .2em 0;
    }
  }
}

.x-button {
  height: fit-content;
  margin-right: 1.2em;

  button {
    background-color: transparent;
    color: $text-color;
    font-family: $font;
    font-size: 3.5em;
    @include hover-scale(1.2);

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 954px) {
  .movie-stats{
    border: 2px solid blue;
    font-size: 80%;
    max-height: 100%;
    overflow: scroll;
    word-break: break-all;
  }
}
@media screen and (max-width: 455px){
  header{
    border: 2px solid green;
    width: fit-content;
  }
  .movie-container{
    width: fit-content;
  }
}