.container {
  position: relative;
  width: 100%;
  display: block;
}

.theater-img {
  height: fit-content;
  width: 100%;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 25em;
  right: 15em;
  padding-left: 26px;
  padding-right: 20px;
  text-align: center;
  width: 100%;
  // border: 2px solid white;
}

.invalid{
  font-size: 1.9em;
}

.spooky{
  font-size: 1.5em;
  margin: 1em 0 0 0;
}

.link{
  font-size: 1.3em;
  margin: 1em 0 0 0;
}