.container {
  position: relative;
  width: 100%;
  display: block;
}

.theater-img {
  position: relative;
  height: auto;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Bottom right text */
.text-block {
  position: relative;
  bottom: 60%;
  text-align: center;
  width: 100%;
}

.invalid{
  font-size: 3vw;
}

.spooky{
  font-size: 2vw;
  margin: 1em 0 0 0;
}

.link{
  font-size: 2vw;
  margin: 1em 0 0 0;
}
