@import 'variables';

header {
  background:
    linear-gradient(to bottom, transparent, black),
    url('../tomatoes.jpeg');
  background-size: cover;
  height: 5em;
  font-size: 2.7em;
  display: flex;
  align-items: flex-end;

  .header-link {
    text-decoration: none;
    color: $text-color;
  }

  h1 {
    height: fit-content;
    margin: 0 0 .2em .7em;
    font-size: 1.2em;
  }
}