main {
  background-color: black;
  padding: 3em;
  min-height: 100vh;
}
select {
  background: transparent;
  width: 15em;
  padding: 2px;
  font-family: 'Comfortaa', sans-serif;
  color: #fff;
  border: 0;
  border-radius: 0;
  height: 22px;
  border: 2px solid yellow;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2em;
}

h2 {
  height: 100vh;
  font-size: 1.7em;
  text-align: center;
}

.loading {
  display: flex;
  justify-content: center;
  height: 10em;
}
.loading-spinner {
  margin: 2em 4.7em;
}
.sort-container{
  margin: 0;
  position: relative;
}