@import 'mixins';
@import 'variables';

article {
  text-align: center;
  
  .poster {
    border: 1px solid #131313;
    height: 300px;
    border-radius: 7px;
    margin-bottom: .7em;
    @include hover-scale(1.05);
  
    &:hover {
      cursor: pointer;
    }
  }

  svg {
    width: 1.3em;
  }
}

