.poster {
  height: 300px;
  transition: transform 100ms ease-in-out;
  border-radius: 7px;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}
.movie-card{
  width: 20em;
  // border: 1px solid white;
}
// div{
//   border: 1px solid white;
// }

svg{
  width: 1.25em;
}


